.credits {
				position: absolute;
				left: 20px;
				top: 25px;
				font-size: 15px;
				color: #fff;
				z-index: 20;
				vertical-align: middle;
			}

			.credits * + * {
				margin-left: 15px;
			}

			.credits a {
				padding: 8px 10px;
				color: #ddd;
				border: 2px solid #666;
				border-radius: 2px;
				text-decoration: none;
			}

			.credits a:hover {
				border-color: #aaa;
				color: #fff;
			}

			@media screen and (max-width: 1000px) {
				.credits {
					width: 100%;
					left: 0;
					right: auto;
					bottom: 0;
					padding: 40px;
					background: #222;
					border-top: 1px solid #333;
					text-align: center;
				}
			}